<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">ESPECIALIDADES</h3>
        <div class="box-tools pull-right">
            <button type="button" [routerLink]="[ '/admin/kardex' ]" class="btn btn-default" style="width: 100px; margin-right: 6px;">Volver</button>
            <button type="button" class="btn btn-default" style="margin-right: 6px;" (click)="onActualizarMedicoEspecialidades()"
                title="Actualizar tabla"><span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" (click)="onAdicionarEspecialidad()" class="btn btn-primary" style="width: 100px"
                data-toggle="modal" data-target=".mdl-especialidad" data-backdrop="static" data-keyboard="false">Adicionar</button>
        </div>
    </div>
    <div class="box-body">
        <p style="font-size: 18px; text-align: center;"><span class="fa fa-user-md" style="margin-right: 6px;"></span>
            {{ medico.apPaterno | uppercase }} {{ medico.apMaterno | uppercase }} {{ medico.nombres | uppercase }}</p>
        <p style="text-align: center;">Registro para los datos de las especialidades del médico</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Especialidad</th>
                    <th>Lugar de obtención</th>
                    <th>Fecha de obtención</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medesp of medicoEspecialidades">
                    <td>
                        {{ medesp.idEspecialidad }}
                    </td>
                    <td>
                        {{ medesp.lugarObtencionEspecialidad }}
                    </td>
                    <td>
                        {{ medesp.fechaObtencionEspecialidad | date: 'dd/MM/yyyy' }}
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" (click)="onEliminarEspecialidad(medesp)"
                            style="margin-right: 3px;" title="Eliminar"><span class="glyphicon glyphicon-trash"></span>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" (click)="onEditarEspecialidad(medesp.idMedEspe)"
                            data-toggle="modal" data-target=".mdl-especialidad" data-backdrop="static" data-keyboard="false"
                            title="Editar"><span class="glyphicon glyphicon-edit"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- /.box -->


<!-- Modal Lugar de Trabajo -->
<form #f="ngForm" (ngSubmit)="f.form.valid && onGuardarEspecialidad(f)" class="form-horizontal" autocomplete="off"
    novalidate>
    <div class="modal fade mdl-especialidad" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Especialidad</h4>
                </div>
                <div class="modal-body">
                    <p>Todos los campos con (*) son obligatorios</p>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && idEspecialidad.invalid }">
                        <label for="especialidades" class="col-sm-3 control-label">Especialidad <span style="color: red;">*</span></label>
                        <div class="col-sm-9">
                            <select class="form-control" required name="idEspecialidad" #idEspecialidad="ngModel" [(ngModel)]="medicoEspecialidad.idEspecialidad">
                                <option [ngValue]="undefined" disabled selected> Seleccione una especialidad </option>
                                <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad.idEspecialidad">
                                    {{ especialidad.descripcion }}
                                </option>
                            </select>
                            <span *ngIf="f.submitted && idEspecialidad.invalid" class="help-block">
                                <div *ngIf="idEspecialidad.errors.required">El campo especialidad es requerido</div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && lugarObtencionEspecialidad.invalid }">
                        <label for="lugarObtencionEspecialidad" class="col-sm-3 control-label">Donde obtuvo la
                            especialidad</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="lugarObtencionEspecialidad" name="lugarObtencionEspecialidad"
                                #lugarObtencionEspecialidad="ngModel" [(ngModel)]="medicoEspecialidad.lugarObtencionEspecialidad"
                                placeholder="Ingresar nombre del lugar (institucion/universidad) donde obtuvo la especialidad">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtFechaObtencionEspecialidad" class="col-sm-3 control-label">Fecha de obtención</label>
                        <div class="col-sm-9">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="txtFechaObtencionEspecialidad" name="txtFechaObtencionEspecialidad"
                                    [(value)]="txtFechaObtencionEspecialidad" data-inputmask="'alias': 'dd/mm/yyyy'"
                                    data-mask placeholder="Ingresar fecha en la que se obtuvo la especialidad">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- / Modal Lugar de Trabajo -->