<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">LUGAR DE TRABAJO</h3>
        <div class="box-tools pull-right">
            <button type="button" (click)="onMapReady()" class="btn btn-success" data-toggle="modal" data-target=".mdl-lugar-trabajo" data-backdrop="static" data-keyboard="false">Adicionar lugar de trabajo</button>
        </div>
    </div>
    <div class="box-body">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onGuardarLugarTrabajo(f)" autocomplete="off" novalidate>
            <p>Ingresar/editar dirección del lugar de trabajo, datos de consulta médica, datos de secretaria/enfermera y horarios de atención del profesional medico.</p>
            <div class="form-group">
                <table class="table table-bordered" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th>Direccion</th>
                            <th>Descripcion</th>
                            <th>Secretaria/Enfermera</th>
                            <th>Horario de visita</th>
                            <th style="width: 100px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Av. Arce nro 123</td>
                            <td>Consultorio</td>
                            <td>Ana Perez</td>
                            <td>Lunes de 14:00 a 16:00 <br />Martes de 14:00 a 16:00<br />Jueves de 14:00 a 16:00 <br />Viernes de 14:00 a 16:00</td>
                            <td>
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acciones <span class="caret"></span>
                                        </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar ubicación</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar consultamédica</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar Secretaria/Enfermera</a></li>
                                        <li><a class="btn-option" data-toggle="modal" data-target=".mdl-horario-consulta" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-edit"></span>Editar horarios de consulta</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-trash"></span>Eliminar dirección</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Av. del poeta</td>
                            <td>Hospital</td>
                            <td>Lucia Gomez</td>
                            <td>Lunes de 14:00 a 16:00 <br />Miercoles de 14:00 a 16:00</td>
                            <td>
                                <!-- Single button -->
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Acciones <span class="caret"></span>
                                        </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar ubicación</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar consulta médica</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar Secretaria/Enfermera</a></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-edit"></span>Editar horarios de consulta </a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><span class="glyphicon glyphicon-trash"></span>Eliminar dirección</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="width: 100px; margin-right: 6px;">Guardar</button>
                <button type="button" [routerLink]="[ '/admin/kardex' ]" class="btn btn-default" style="width: 100px;">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<!-- /.box -->

<!-- Modal Lugar de Trabajo -->
<div class="modal fade mdl-lugar-trabajo" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Lugar de Trabajo</h4>
            </div>
            <div class="modal-body">
                <p>Todos los campos con (*) son obligatorios</p>
                <form #f="ngForm" autocomplete="off" novalidate>
                    <div class="row">
                        <div class="form-group col-sm-12" [ngClass]="{ 'has-error': f.submitted && descripcion.invalid }">
                            <label for="descripcion" class="control-label">Descripcion <span style="color: red;">*</span></label>
                            <div>
                                <input type="text" class="form-control" id="descripcion" name="descripcion" required #descripcion="ngModel" [(ngModel)]="lugar.descripcion" placeholder="Ingresar una descripcion Ej: Hospital General, Consultorio, Clinica">
                                <span *ngIf="f.submitted && descripcion.invalid" class="help-block">
                                    <div *ngIf="descripcion.errors.required">El campo descripcion es requerido</div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-5" [ngClass]="{ 'has-error': f.submitted && zona.invalid }">
                            <label for="zona" class="control-label">Zona <span style="color: red;">*</span></label>
                            <div>
                                <input type="text" class="form-control" id="zona" name="zona" required #zona="ngModel" [(ngModel)]="direccion.zona" placeholder="Ingresar zona Ej: Miraflores">
                                <span *ngIf="f.submitted && zona.invalid" class="help-block">
                                    <div *ngIf="zona.errors.required">El campo zona es requerido</div>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-5" [ngClass]="{ 'has-error': f.submitted && avenidaCalle.invalid }">
                            <label for="avenidaCalle" class="control-label">Avenida/Calle <span style="color: red;">*</span></label>
                            <div>
                                <input type="text" class="form-control" id="avenidaCalle" name="avenidaCalle" required #avenidaCalle="ngModel" [(ngModel)]="direccion.avenidaCalle" placeholder="Ingresar Avenida/Calle Ej: av. 6 de agosto">
                                <span *ngIf="f.submitted && avenidaCalle.invalid" class="help-block">
                                        <div *ngIf="avenidaCalle.errors.required">El campo avenidaCalle es requerido</div>
                                    </span>
                            </div>
                        </div>
                        <div class="form-group col-sm-2">
                            <label for="nroDireccion" class="control-label">Nro<span style="color: red;">*</span></label>
                            <div>
                                <input type="number" class="form-control" id="nroDireccion" name="nroDireccion" #nroDireccion="ngModel" [(ngModel)]="direccion.nroDireccion" placeholder="Número">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label for="ubicacion" class="control-label">Ubicación </label>
                            <div>
                                <div leaflet id="map" center="center"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="cargo" class="control-label">Cargo del médico </label>
                            <div>
                                <input type="text" class="form-control" id="cargo" name="cargo" #cargo="ngModel" [(ngModel)]="lugar.cargo" placeholder="Ingresar cargo que ocupa Ej: Director">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="nroPacientes" class="control-label">Nro de pacientes </label>
                            <div>
                                <input type="number" class="form-control" id="nroPacientes" name="nroPacientes" #nroPacientes="ngModel" [(ngModel)]="lugar.nroPacientes" placeholder="Ingresar un aproximado">
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label for="costoConsulta" class="control-label">Costo de la consulta (Bs) </label>
                            <div>
                                <input type="number" class="form-control" id="costoConsulta" name="costoConsulta" #costoConsulta="ngModel" [(ngModel)]="lugar.costoConsulta" placeholder="Ingresar costo aproximado">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal Lugar de Trabajo -->


<!-- Modal Lugar de Trabajo -->
<div class="modal fade mdl-horario-consulta" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Horarios de consulta</h4>
            </div>
            <div class="modal-body">
                <p>Todos los campos con (*) son obligatorios</p>
                <form #f="ngForm" autocomplete="off" novalidate>
                    <div class="row">
                        <div class="form-group col-sm-12">
                            <label for="horario" class="control-label">Horarios de consulta</label>
                            <div class="row">
                                <div class="col-sm-3">
                                    <select class="form-control" id="horarioTrabajo" name="horarioTrabajo" #horarioTrabajoModel="ngModel" [(ngModel)]="horarioTrabajo">
                                        <option *ngFor="let horario of horariosTrabajo" [ngValue]="horario">{{ horario.dia }}</option>
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker" id="horaAtencionInicio" name="horaAtencionInicio" #horaAtencionInicio="ngModel" [(ngModel)]="horarioTurno.horaAtencionInicio" placeholder="Hora inicio">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="input-group">
                                        <input type="text" class="form-control timepicker" id="horaAtencionFin" name="horaAtencionFin" #horaAtencionFin="ngModel" [(ngModel)]="horarioTurno.horaAtencionFin" placeholder="Hora fin">
                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-success" (click)="onAdicionarHorario()" title="Adicionar">Adicionar</button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 100px;">Día</th>
                                        <th>Hora de atención</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let horario of horariosTrabajo">
                                        <td>{{ horario.dia }}</td>
                                        <td>
                                            <ul *ngFor="let hora of horario.horarioTurno">
                                                <li>
                                                    De {{ hora.horaAtencionInicio }} a {{ hora.horaAtencionFin }}
                                                    <div class="pull-right">
                                                        <button type="button" (click)="onEliminarHora(hora, horario)" title="Eliminar">Eliminar</button>
                                                    </div>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Guardar</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- / Modal Lugar de Trabajo -->