<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">KARDEX MEDICO</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-default" style="margin-right: 6px;" (click)="onActualizarListado()" title="Actualizar tabla"><span class="glyphicon glyphicon-refresh"></span></button>
            <button type="button" class="btn btn-primary" (click)='onAltaDatosMedico()' data-toggle="modal" data-target=".mdl-medico">
                Alta de médico
            </button>
        </div>
    </div>
    <div class="box-body">
        <table class="table table-striped table-hover" [mfData]="medicos" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [mfSortBy]="sortBy" [mfSortOrder]="sortOrder">
            <thead>
                <tr>
                    <th>
                        <mfDefaultSorter by="idMedico">ID</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="apPaterno">Nombre completo</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="celular">Celular</mfDefaultSorter>
                    </th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of mf.data">
                    <td>{{medico.idMedico}}</td>
                    <td>{{medico.apPaterno}} {{medico.apMaterno}} {{medico.nombres}}</td>
                    <td>{{medico.celular}}</td>
                    <td>
                        <!-- Single button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opciones <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a class="btn-option" (click)='onEditarDatosMedico(medico)' data-toggle="modal" data-target=".mdl-medico" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-edit"></span>Editar datos del médico</a></li>
                                <li><a [routerLink]="['/admin/kardex/especialidad']" (click)='onEditarEspecialidad(medico)'><span class="glyphicon glyphicon-edit"></span>Editar especialidades</a></li>
                                <li><a [routerLink]="['/admin/kardex/lugartrabajo']"><span class="glyphicon glyphicon-edit"></span>Editar lugar de trabajo</a></li>
                                <li><a class="btn-option" (click)='onEditarDatosComplementarios(medico)' data-toggle="modal" data-target=".mdl-otros-datos" data-backdrop="static" data-keyboard="false"><span class="glyphicon glyphicon-edit"></span>Editar datos complementarios</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a class="btn-option" (click)='onEliminarKardex(medico)'><span class="glyphicon glyphicon-trash"></span>Eliminar</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<!-- Modal medico -->
<app-medico (updateEvent)="onActualizarListado()"></app-medico>
<!-- / Modal medico -->

<!-- Modal datos complementarios -->
<app-datoscomplementarios></app-datoscomplementarios>
<!-- / Modal datos complementarios -->