<form #formPerfil="ngForm" (ngSubmit)="onGuardarPerfilPersonal(formPerfil)" method="POST" class="form-horizontal" autocomplete="off">
    <div class="modal fade mdl-otros-datos" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Datos Complementarios</h4>
                </div>
                <div class="modal-body">
                    <p>Todos los campos con (*) son obligatorios</p>
                    <div class="form-group">
                        <label for="nombreConyuge" class="col-sm-3 control-label">Nombre de conyuge</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="nombreConyuge" name="nombreConyuge" #nombreConyugue="ngModel" [(ngModel)]="perfilPersonal.nombreConyugue" placeholder="Ingresar nombre completo">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hijos" class="col-sm-3 control-label">Hijos</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="hijosNombre" name="hijosNombre" [(ngModel)]="hijo.nombres" placeholder="Nombre completo del hijo(a)">
                                </div>
                                <div class="col-sm-3">
                                    <input type="number" class="form-control" id="hijosEdad" name="hijosEdad" [(ngModel)]="hijo.edad" placeholder="Edad">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" (click)="onAdicionarHijo()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="left" title="Adicionar item"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-sm-9">
                                    <table *ngIf="hijos.length > 0" class="table table-bordered">
                                        <tr>
                                            <th>Nombre</th>
                                            <th style="width: 100px;">Edad</th>
                                            <th style="width: 40px;"></th>
                                        </tr>
                                        <tr *ngFor="let hijo of hijos">
                                            <td>{{hijo.nombres}}</td>
                                            <td>{{hijo.edad}}</td>
                                            <td><button type="button" (click)="onEliminarHijo(hijo)" title="Eliminar" class="btn"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="origenFamilia" class="col-sm-3 control-label">Origen familiar</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="origenFamilia" name="origenFamilia" #origenFamilia="ngModel" [(ngModel)]="perfilPersonal.origenFamilia" placeholder="Origen familiar Ej: Boliviana">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gruposSociales" class="col-sm-3 control-label">Grupos sociales</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="gruposSociales" name="gruposSociales" [(ngModel)]="grupoSocial" placeholder="Ingresar nombre del grupo social">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" (click)="onAdicionarGrupoSocial()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="left" title="Adicionar item"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-sm-10">
                                    <table *ngIf="gruposSociales.length > 0" class="table table-bordered">
                                        <tr>
                                            <th>Grupo Social</th>
                                            <th style="width: 40px;"></th>
                                        </tr>
                                        <tr *ngFor="let grupo of gruposSociales">
                                            <td>{{ grupo }}</td>
                                            <td><button type="button" (click)="onEliminarGrupoSocial(grupo)" title="Eliminar"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="gruposSociales" class="col-sm-3 control-label">Amigos</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="amigos" name="amigos" [(ngModel)]="amigo" placeholder="Ingresar nombre completo">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" (click)="onAdicionarAmigo()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="left" title="Adicionar item"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-sm-10">
                                    <table *ngIf="amigos.length > 0" class="table table-bordered">
                                        <tr>
                                            <th>Nombre amigo</th>
                                            <th style="width: 40px;"></th>
                                        </tr>
                                        <tr *ngFor="let amigo of amigos">
                                            <td>{{ amigo }}</td>
                                            <td><button type="button" (click)="onEliminarAmigo(amigo)" title="Eliminar"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comidaPreferida" class="col-sm-3 control-label">Comida preferida</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="comidaPreferida" name="comidaPreferida" #comidaPreferida="ngModel" [(ngModel)]="perfilPersonal.comidaPreferida" placeholder="Comida preferida Ej: Fricase">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="bebidaPreferida" class="col-sm-3 control-label">Bebida preferida</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="bebidaPreferida" name="bebidaPreferida" #bebidaPreferida="ngModel" [(ngModel)]="perfilPersonal.bebidaPreferida" placeholder="Bebida preferida Ej: Cerveza">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="mascota" class="col-sm-3 control-label">Mascota</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="mascota" name="mascota" #mascota="ngModel" [(ngModel)]="perfilPersonal.mascota" placeholder="Mascota Ej: perro">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="tipoMusicaPreferida" class="col-sm-3 control-label">Tipo de música preferida</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="tipoMusicaPreferida" name="tipoMusicaPreferida" #tipoMusicaPreferida="ngModel" [(ngModel)]="perfilPersonal.tipoMusicaPreferida" placeholder="Musica preferida Ej: cumbia">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="instrumentoPreferido" class="col-sm-3 control-label">Instrumento preferido</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="instrumentoPreferido" name="instrumentoPreferido" #instrumentoPreferido="ngModel" [(ngModel)]="perfilPersonal.instrumentoPreferido" placeholder="Instrumento preferido Ej: piano">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gustosGenerales" class="col-sm-3 control-label">Gustos generales</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="gustosGenerales" name="gustosGenerales" [(ngModel)]="gustoGeneral" placeholder="Ingresar un gusto de preferencia Ej: Comer">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" (click)="onAdicionarGustoGeneral()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="left" title="Adicionar item"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-sm-10">
                                    <table *ngIf="gustosGenerales.length > 0" class="table table-bordered">
                                        <tr>
                                            <th>Gustos generales</th>
                                            <th style="width: 40px;"></th>
                                        </tr>
                                        <tr *ngFor="let gusto of gustosGenerales">
                                            <td>{{ gusto }}</td>
                                            <td><button type="button" (click)="onEliminarGustoGeneral(gusto)" title="Eliminar"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="gustosGenerales" class="col-sm-3 control-label">Hobbies</label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="hobbies" name="hobbies" [(ngModel)]="hobbie" placeholder="Ingresar un hobbie ej: Ver peliculas">
                                </div>
                                <div class="col-sm-2">
                                    <button type="button" (click)="onAdicionarHobbie()" class="btn btn-success btn-circle" data-toggle="tooltip" data-placement="left" title="Adicionar item"><span class="glyphicon glyphicon-plus"></span></button>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 6px;">
                                <div class="col-sm-10">
                                    <table *ngIf="hobbies.length > 0" class="table table-bordered">
                                        <tr>
                                            <th>Hobbies</th>
                                            <th style="width: 40px;"></th>
                                        </tr>
                                        <tr *ngFor="let hobbie of hobbies">
                                            <td>{{ hobbie }}</td>
                                            <td><button type="button" (click)="onEliminarHobbie(hobbie)" title="Eliminar"><span class="glyphicon glyphicon-minus-sign"></span></button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>