.login-box-body{
    box-shadow: 4px 4px 5px #999;
    border-top: 3px solid #3c8dbc;
}
.login-logo{
    text-align: left;
}
.login-logo b {
    margin-left: 100px;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
.login-logo small {
    margin-left: 100px;
    /* color: #c5c5c5!important; */
}
.logo-image{
    width: 100px;
    position: absolute;
    filter: drop-shadow(0px 0px 5px #ffffff);
    -webkit-filter: drop-shadow(0px 0px 5px #ffffff);
    -moz-filter: drop-shadow(0px 0px 5px #ffffff);
}
.login-logo small {
    font-size: 16px;
    display: block;
    color: #4c4d4e;
}
.form-control-lg{
    height: 40px;
}