<div class="login-box">

    <!-- /.login-logo -->
    <div class="login-box-body">
        <div class="login-logo">
            <img class="logo-image" src="../../assets/dist/img/logo.png" />
            <b>HERMES</b> 2.0
            <small>Géstion de visita médica</small>
        </div>
        <form [formGroup]="loginForm" method="post">
            <div class="form-group has-feedback">
                <input type="text" formControlName="username" class="form-control form-control-lg" placeholder="Usuario" required>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" formControlName="password" class="form-control form-control-lg   " placeholder="Contraseña" required>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat" (click)="btnIngresar()">Ingresar</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a href="#">Olvide mi contraseña</a><br>
    </div>
    <!-- /.login-box-body -->
</div>