<!-- Default box -->
<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">NOTAS</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Adicionar
                nota
            </button>
        </div>
    </div>
    <div class="box-body">
        <table id="example1" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Titulo</th>
                    <th>Contenido</th>
                    <th>created</th>
                    <th>updated</th>
                    <th>Accion</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

<!-- adicionar modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form #formNota="ngForm" (ngSubmit)="onGuardar()" >
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Nueva Nota</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="nota.nombre" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input type="text" id="titulo" name="titulo" #titulo="ngModel" [(ngModel)]="nota.titulo" class="form-control"  placeholder="Titulo">
                    </div>
                    <div class="form-group">
                        <label for="contenido">Contenido</label>
                        <textarea id="contenido" name="contenido" #contenido="ngModel" [(ngModel)]="nota.contenido" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>