<form #f="ngForm" (ngSubmit)="f.form.valid && onGuardarMedico(f)" class="form-horizontal" autocomplete="off" novalidate>
    <div class="modal fade mdl-medico" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Kardex Médico</h4>
                </div>
                <div class="modal-body">
                    <p>Todos los campos con (*) son obligatorios</p>

                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && nombres.invalid }">
                        <label for="nombres" class="col-sm-2 control-label">Nombres <span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="nombres" name="nombres" required #nombres="ngModel" [(ngModel)]="medico.nombres" placeholder="Ingresar nombre(s)">
                            <span *ngIf="f.submitted && nombres.invalid" class="help-block">
                                <div *ngIf="nombres.errors.required">El campo de nombres es requerido</div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && apPaterno.invalid }">
                        <label for="apPaterno" class="col-sm-2 control-label">Apellido paterno <span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apPaterno" name="apPaterno" required #apPaterno="ngModel" [(ngModel)]="medico.apPaterno" placeholder="Ingresar apellido paterno">
                            <span *ngIf="f.submitted && apPaterno.invalid" class="help-block">
                                <div *ngIf="apPaterno.errors.required">El campo apellido paterno es requerido</div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apMaterno" class="col-sm-2 control-label">Apellido materno</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="apMaterno" name="apMaterno" #apMaterno="ngModel" [(ngModel)]="medico.apMaterno" placeholder="Ingresar apellido materno">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtFechaNacimiento" class="col-sm-2 control-label">Fecha de nacimiento</label>
                        <div class="col-sm-10">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control" id="txtFechaNacimiento" name="txtFechaNacimiento" [(value)]="txtFechaNacimiento" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask placeholder="Ingresar fecha de nacimiento Ej: 15/06/1990">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="genero" class="col-sm-2 control-label">Género <span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label><input type="radio" name="genero" [value]="1" [(ngModel)]="medico.genero"> Masculino</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="genero" [value]="2" [(ngModel)]="medico.genero"> Femenino</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="estadoCivil" class="col-sm-2 control-label">Estado Civil <span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label><input type="radio" name="estadoCivil" [value]="1" [(ngModel)]="medico.idEstadoCivil">Desconocido</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="estadoCivil" [value]="2" [(ngModel)]="medico.idEstadoCivil"> Soltero</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="estadoCivil" [value]="3" [(ngModel)]="medico.idEstadoCivil"> Casado</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="estadoCivil" [value]="4" [(ngModel)]="medico.idEstadoCivil">Divorciado</label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" name="estadoCivil" [value]="5"> Viudo</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && correoElectronico.invalid }">
                        <label for="correoElectronico" class="col-sm-2 control-label">Correo electrónico</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" #correoElectronico="ngModel" [(ngModel)]="medico.correoElectronico" placeholder="Ingresar correo electronico Ej: juan@gmail.com" email>
                            <span *ngIf="f.submitted && correoElectronico.invalid" class="help-block">
                                <div *ngIf="correoElectronico.errors.email">El campo de email no es una direccion valida</div>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="medico.telefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="celular" class="col-sm-2 control-label">Celular</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="celular" name="celular" #celular="ngModel" [(ngModel)]="medico.celular">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="swEspecialidades">
                        <label for="especialidades" class="col-sm-2 control-label">Especialidad(es) <span style="color: red;">*</span></label>
                        <div class="col-sm-10">
                            <select class="form-control" required multiple="multiple" data-placeholder="Seleccionar una o más especialidades" name="lstEspecialidad" [(ngModel)]="medico.lstEspecialidad">
                                <option *ngFor="let especialidad of especialidades" [ngValue]="especialidad">
                                    {{ especialidad.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" style="width: 100px; margin-right: 6px;">Guardar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</form>